.map-container {
    width: 90%;
    height: 75vh; //NO borres la altura
    // margin: 20px;
    position: relative;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
