.categorias{
    width: 325px;

    display: flex;
    justify-content: start;
    align-items: center;

    overflow-x: auto;
    scrollbar-width: none !important;
}

.categorias::hover ::-webkit-scrollbar{
    scrollbar-width:auto !important;
    
}

tag-todas ::before{
    content:''
}

@media (min-width: 400px) {
    .categorias{
        width: 100vw;
    }
}