<div class="categorias d-flex justify-content-start align-items-center">
    <input 
    type="radio" 
    class="btn-check tag-todas" 
    name="categoria-base" 
    id="Todas" 
    autocomplete="off" 
    
    (change)="onCategoryChange()"
    [(ngModel)]="selectedCategory"
    value="Todas"
    checked
    >

    <label class="btn" for="Todas">Todas</label>  
    @for(categoria of categoriasDeProductos; track categoria){
        <input type="radio" class="btn-check tag-{{categoria}}" name="categoria-base" id="{{categoria}}" autocomplete="off"
        (change)="onCategoryChange()"
        [(ngModel)]="selectedCategory"
        value="{{categoria}}">
        <label class="btn" for="{{categoria}}">{{categoria}}</label>
    }
</div>