<div class="comentario-nuevo">
    @if(!usuarioLogueado){
        <p>Los datos del user no están cargados</p>
    }
    @else {
        <div class="row">
            <div class="col-2 image-container">
                <img src="{{usuarioLogueado.imgProfile}}"
                    alt="img-perfil" class="img-perfil img-fluid">
                
            </div>
        <div class="col-10">
            <!-- <label for="comentarioNuevo" class="form-label">Example textarea</label> -->
            <form [formGroup]='formComentario' (ngSubmit)="enviarComment()" class="d-flex">
                
                <textarea class="form-control" formControlName="comentario"  id="comentarioNuevo" rows="3" placeholder="Escribe aquí tu comentario"></textarea>
               
                <div class="mx-3">
                <button type="submit" class="btn btn-sm btn-primary d-flex">Enviar comentario</button>

                </div>

            </form>
        </div>
    </div>
    }
    
</div>