.search-container{
    position: absolute;
    top: 100px;
    left: 20%;
    z-index: 99;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    background-color: rgb(255, 255, 255);

}