.img-perfil{
    width: 140%;  
    height: auto;
    position: absolute;
    top: 0px;
    left: -8px; 
}
.image-container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 40px;  
    height: 40px;  
    overflow: hidden;  
    border-radius: 50%;
    position: relative;
}
.primera-col{
    max-width: 50px;
}