.img-michi{
    max-width: 400px;
}

.pageNotFound{
    background-color: #F4E9D5;
    border-radius: 20px;
}

.subtitle{
    color: #B67B0F;
}
.titulo{
    font-size: 40px;
    font-weight: 600;
}

// .titulo2{
//     font-weight: 00;
// }