<div class="pageNotFound container">
    <div class="row d-flex align-content-center justify-content-center align-items-center">
        <div class="col p-5">
            <h2 class="titulo">Ups 🫤</h2>
            <h3 class="titulo2">Has llegado a una pagina que aún está en proceso de construcción.</h3>
            <h4 class="subtitle">Lamentamos las molestias ocasionadas :)</h4>
        </div>
        <div class="col d-flex justify-content-center">
        <img src="../../../../assets/img/profile-images/Michicreativo.png" alt="michi-creativo" class="img-fluid img-michi">
    
        </div>
    </div>
    
</div>