<table class="table">
    <thead>
        <tr>
            @for(column of selectedColumns(); track column){
            <th scope="col d-flex justify-content-center">{{ column | titlecase }}</th>
            }
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (row of filteredData(); track row) {
            <tr>
            @for(column of selectedColumns(); track column){

                @if(tipo === 'usuarios'){
                    @if(column == "imagen"){
                         <td ><div class="img-container"><img src="{{row[column]}}" alt="img-{{row[column]}}" class="img-fluid img-perfil"></div></td>
                    }
                    @else if (column == "rol") {
                        <div class="categorias d-flex flex-nowrap">
                            <span class="mx-1 tag-{{row[column]}} border-tag">
                            <span class="emoji">
                                @if(row[column] == 'admin'){
                                ✏️
                            }
                            @if(row[column] == 'viewer'){
                                👁️
                            }
                            </span>
                            

                            {{row[column]}}</span>
                            <!-- <br> -->
                        </div>
                    }
                    @else{
                        <td>{{ row[column] }}</td>
                        }
                   
                }
                @else if (column == 'categoría') {
                    <div class="categorias d-flex flex-wrap">
                        @for(cat of row[column]; track cat){
                        <span class="tag-default tag-{{cat.trim()}} border-tag m-1">{{cat}}</span>
                        <!-- <br> -->
                    }
                    </div>
                    
                }
            

                @else if(tipo === 'productos'){
                    @if(column == "imagen"){

                        <td><img src="{{row[column]}}" alt="img-{{row[column]}}" class="img-fluid img-product"></td>
                    }

                    @else if(column == "puntuación"){
                        <td>{{ row[column] }}⭐</td>
                    }
                    @else if(column === "comentarios"){
                    <td>
                        <div class="comentarios">
                            @for (comment of row[column]; track comment){
                                <span class="comentario">{{comment.text}}</span> -
                                <span class="username">&#64;{{comment.user?.username || 'Usuario desconocido'}}</span>
                                
                            }
                        </div>
                    </td>
                    }
                    
                    @else{
                        <td>{{ row[column] }}</td>
                    }
                }

                


                @else{
                <td>{{ row[column] }}</td>
                }
            }

            <td>
                <div class="d-flex justify-content-center">
                    @if (tipo === 'usuarios' && row['id'] !== undefined) {
                <app-btn-editar [item]="row['id']" (updateData)="refreshData()"></app-btn-editar>
                }
                @if (tipo === 'locales' && row['id'] !== undefined) {
                    <app-btn-clipboard [id]="row['id']"></app-btn-clipboard>
                    }
                @if (tipo === 'productos' && row['id'] !== undefined) {
                    <app-btn-editar tipo = 'productos' [item]="row['id']" (updateData)="refreshData()"></app-btn-editar>
                    }
                <app-btn-delete (removeItem)="onDeleteItem($event['id'], $event['tipo'])" [item]="row['id']"
                    [tipo]="tipo"></app-btn-delete>
                </div>
                
            </td>
        </tr>
        }


    </tbody>
</table>