$primary: #F17A12 !default;
$secondary: #686665;
$light: #FBD8B8;
$light-secondary: #e4e4e4;


.img-product{
  max-width: 100px;
  border-radius: 10px;
}

.img-perfil{
  width: 240%;  
  height: auto;
  position: absolute;
  top: 0px;
  // left: -7px; 
}

.img-container{
  // border: solid 1.5px #0a0b0a;
  width: 40px;  
  height: 40px;  
  overflow: hidden;  
  border-radius: 50%;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
::ng-deep td{
  height: 40px;
  background-color: transparent;
}

.comentarios{
  overflow-y: auto;
}

.categorias{
  font-size: 14px;
  margin: 5px;
  padding: 0px;
}

.border-tag{
  border-radius: 50px;
  padding: 5px;
}

//categoria rol
.tag-admin {
  background-color: #fbe5d0; 
  color: $primary;
}

.tag-viewer {
  background-color: $light-secondary;
  color: $secondary;
}



// --- categorias locales -----
.tag-café {
  background-color: #d1ada0;
  color: #795548;
  // border: 1px solid #795548;
}
span.tag-café::before {
  content: "☕";
}

.tag-comida {
  background-color: #e4e4e4;
  color: #828282;
}
span.tag-comida::before {
  content: "🍴";
}

::ng-deep .tag-panadería {
  background-color: #fbe6d4;
  color: #e3a052;
  
}span.tag-panadería::before {
    content: "🥖";
  }


::ng-deep .tag-compras, .tag-centro {
  background-color: #cce4c3;
  color: #409840;
  
}span.tag-compras::before, span.tag-centro::before {
    content: "🛒";
  }

// ------ categorias productos -----

::ng-deep .tag-desayuno {
  background-color: #f6e8dd;
  color: #e0a25b;
  
}span.tag-desayuno::before {
    content: "🥐";
}

::ng-deep .tag-italiano {
  background-color: #f1e6fa;
  color: #e05b99;
  
}span.tag-italiano::before {
    content: "🍷";
}

::ng-deep .tag-mediterraneo {
  background-color: #fbf0c6;
  color: #c6b042;
  
}span.tag-mediterraneo::before {
    content: "🌻";
}



//Media queries
@media (max-width: 1172px) {
  .emoji {
      display: none;
  }

  
  span.tag-admin::before,span.tag-viewer::before,span.tag-panadería::before, span.tag-comida::before, span.tag-compras::before, span.tag-café::before,span.tag-mediterraneo::before,span.tag-italiano::before,span.tag-centro::before {
      content: none;
  
}
}