.tag-admin {
    background-color: #d32f2f; // Rojo oscuro
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .tag-user {
    background-color: #1976d2; // Azul
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .tag-moderator {
    background-color: #ffa000; // Naranja
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .tag-cafe {
    background-color: #795548; // Marrón
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .tag-drink-food {
    background-color: #03a9f4; // Azul claro
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .tag-restaurant {
    background-color: #ff7043; // Naranja fuerte
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .tag-bakery {
    background-color: #ffcc80; // Amarillo claro
    color: black;
    padding: 5px;
    border-radius: 5px;
  }
  
  .tag-default {
    background-color: #bdbdbd; // Gris
    color: black;
    padding: 5px;
    border-radius: 5px;
  }
  