.loading-page{
    background-image: url(../../../../assets/img/loading-background.svg);
    background-color: #F4E9D5;
    // height: auto;
    background-repeat: no-repeat;
    background-size:contain;
    
}