.container-productos{
    width: 100%;
    // max-width: 100vx;
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

    scrollbar-width: none !important;
}

.productos{
    overflow-x: auto;
    scrollbar-width: none !important;
    gap: 8px;
}

.tag-name{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}


//tablet
@media (min-width: 500px){
    .container-productos{
        width: 100vx;
    }
    .productos{
        display: flex;
        justify-content: center;
    }
}

// @media (min-widht:400px) and (max-width: 575px){
//     .container-productos{
//         max-width: 500px;
//     }
// }