<div class="productos-fav container">
    @if(usuarioLogueado){
        <h3>Productos guardados:</h3>
        @if(usuarioLogueado.misFavs){
            @if(usuarioLogueado.misFavs.length > 0){
            @for(fav of usuarioLogueado.misFavs; track fav){
                <app-card-product [producto]="fav" (productoId)="onGuardarProductoFav($event)"></app-card-product>
            }
        }
        @else {
            <p class="text-center">Todavía no tienes productos guardados 😬</p>
        }
        }
        
    }
    
</div>