<nav class="navbar">
    <ul class="navbar-nav d-flex flex-row g-4">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="descubrir" routerLinkActive="active">
                Descubrir
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="mapa" routerLinkActive="active">
                Mapa
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="michibot"
                routerLinkActive="active">MichiBot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="perfil"
                routerLinkActive="active">Perfil</a>
        </li>
    </ul>
</nav>