$primary: #F17A12 !default;
$secondary: #686665;
$light: #FBD8B8;

.card-product{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: #f0f0f0;
    border-radius: 20px;

    width: 305px;
    overflow: hidden;
}
.card-header{
    width: 400px; 
    height: 100px; 
    overflow: hidden;
    padding: 0px;
}
.card-img{
    width: 400px;
    object-fit: cover;
}

.card-description{
    height: 50px;
}

.precio{
    font-size: 20px;
}