.categoria{
    padding: 5px;
    background-color: #e7e1eb;
    border-radius: 20px;
    color: #655f69;
    margin-left: 5px;
}

.tag-cafe{
    background-color: #d1b5a5;
    color: #64422e;
}

.tag-drink-food{
    background-color: #d1c6a5;
    color: #6c501c;
}