<nav class="navbar">
    <ul class="navbar-nav d-flex flex-row align-items-baseline g-4">
        <li class="nav-item">
            <a class="nav-link active d-flex flex-column align-items-center" aria-current="page" routerLink="descubrir"
                    routerLinkActive="active"><mat-icon class="mx-2">explore</mat-icon>Descubrir</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active d-flex flex-column align-items-center" aria-current="page" routerLink="mapa"
                    routerLinkActive="active"><mat-icon class="mx-2">location_on</mat-icon>Mapa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active d-flex flex-column align-items-center" aria-current="page" routerLink="michibot"
                    routerLinkActive="active"><img src="../../../../assets/img/icono michibot.svg" alt="icono_michibot" class="img-fluid michibot">Michibot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active d-flex flex-column align-items-center" aria-current="page" routerLink="perfil"
                    routerLinkActive="active"><mat-icon class="mx-2">account_circle</mat-icon>Perfil</a>
        </li>
    </ul>
</nav>