@use '../../../../assets/_variables.scss' as *;

$primary: #F17A12 !default;
$secondary: #686665;
$light: #FBD8B8;

.nav-item{
    margin: 15px;
    font-size: small;
}
.navbar{
    display: flex;
    justify-content: center;
    z-index: 10;
}
.navbar-nav{
    justify-content: space-around;
}

.nav-link.active{
    color: $primary !important;
}