<nav class="navbar">
    <ul class="navbar-nav d-flex flex-row align-items-baseline g-4">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" 
                    routerLinkActive="active"><app-btn-descubrir [routerLink]="'descubrir'"></app-btn-descubrir></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page"
                    routerLinkActive="active"><app-btn-mapa [routerLink]="'mapa'"></app-btn-mapa></a>
        </li>
        <li class="nav-item">
            <button class="nav-link active" aria-current="page" routerLink="michibot"
                    routerLinkActive="active"><app-btn-michi-bot></app-btn-michi-bot></button>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="perfil"
                    routerLinkActive="active"><app-btn-perfil></app-btn-perfil></a>
        </li>
    </ul>
</nav>