<div class="comentario-container container m-2">
    @if(!comentario){
    Esperando a los datos...
    }
    @else {
    <div class="comment ">
        <div class="row">
            <div class="col-md-2 p-0">
                <div class="image-container">
                    <img src="{{comentario.user.imgProfile}}" alt="img-perfil" class="img-perfil img-fluid">
                </div>

            </div>
            <div class="col-md-7 m-2">
                <div class="row"><b class="p-0">
                    <p>&#64;{{comentario.user.username}}</p>
                    </b></div>
                <div class="row ">

                    <p class="subtitulo">{{comentario.text}}</p>

                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-end">
                @if(comentario.rating > 0){
                    {{comentario.rating}}
                }
                <button class="btn" (click)="likeComment()"><mat-icon class="fav-icon">favorite</mat-icon></button>
            </div>
        </div>
    </div>
    }

</div>