<div class="comentario-container container">
    <div class="header-comment">
        <div class="row">
            <div class="col p-0 primera-col">
                <div class="image-container"><img src="{{user.imgProfile}}"
                    alt="img-perfil" class="img-perfil"></div>
                
            </div>
            <div class="col m-2">
                <div class="row"><b class="p-0"><p>{{usuarioLogueado.name}} {{usuarioLogueado.surname}}</p></b></div>
                <div class="row "><p class="subtitulo">{{usuarioLogueado.email}}</p></div>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>
