$primary: #F17A12;
$secondary: #686665;
$light: #FBD8B8;
$golden: #B67B0F;

$success: #4CAF50;
$danger: #E74C3C;
$warning: #f4bf1d;
$info: #3498DB;
$light: #FBD8B8;
$dark: #1A1A1A;

@import "bootstrap/scss/bootstrap";