/* You can add global styles to this file, and also import other style files */
@use 'assets/_variables.scss';

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(https://example.com/material-symbols.woff) format('woff');
  }
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');


$primary: #F17A12 !default;
$light: #FBD8B8;

* {
  font-family: 'Poppins';
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

p{
  font-size: 14px !important;
  margin: 0px !important;
  padding: 0px !important;
}


.btn-navbar-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-secundario{
  background-color: $light !important;
  border: solid 1px $light !important;
  border-radius: 20px !important;
  color: $primary !important;

  transition: border ease-in-out;
  transition: background-color ease-in-out;

  &:hover{
    border: solid 1px $primary !important;
    color: $primary !important;
    background-color: transparent !important;
  }
}

.subtitulo{
  font-size: 10px !important;
}
