.header-container{
    height: 200px;
    width: 100%;
    overflow: hidden;
    position:static;
    border-radius: 20px;
}

.imagen-producto{
    width: 100%;
    object-fit: cover;
    
}
.name-producto{
    position: relative;
    bottom: 100px;
    left: 12px;
    // color: white;
    
    background: rgba(255, 255, 255, 0.434);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (min-width: 495px){
    .name-producto{
    bottom: 250px;

    }
}

@media (min-width: 990px){
    .name-producto{
    bottom: 415px;

    }
}
@media (min-width: 1200px){
    .name-producto{
    bottom: 535px;

    }
}
@media (min-width: 1400px){
    .name-producto{
    bottom: 655px;

    }
}

.categorias{
    margin: 10px 0px;
}

.categoria{
    padding: 5px 10px;
    background-color: #C4E3D1;
    border-radius: 20px;
}
.precio-producto{
    font-size: 20px;
    font-weight: 500;
}

.container-precio{
    display: flex;
    justify-content: end;
    align-items: end;
}

.puntuacion{
    font-size: 20px;
}
.comments{
    width: auto;
    max-height: 300px;
    overflow-y: auto;
}


a{
    text-decoration: none;
    color: #212529;
}
p{
    font-size: 16px !important;
}

