<nav class="navbar">
    <a class="navbar-brand active btn-navbar-mobile" routerLink="data" ><app-logo-dashboard ></app-logo-dashboard></a>
    <div class="row mt-5">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active d-flex" aria-current="page" routerLink="data"
                    routerLinkActive="active"><mat-icon class="mx-2">table</mat-icon> Datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex" aria-current="page" routerLink="mapa"
                    routerLinkActive="active"><mat-icon class="mx-2">map</mat-icon>Mapa</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link active d-flex" aria-current="page" routerLink="calendar"
                    routerLinkActive="active"><mat-icon class="mx-2">event</mat-icon>Calendario</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page"  routerLink="charts">Charts</a>
            </li> -->
        </ul>
        
        <ul class="navbar-nav mt-5">
            <li class="nav-item">
                <a class="nav-link active d-flex" aria-current="page" routerLinkActive="active" routerLink="/user/home" target="_blank">
                    <mat-icon class="mx-2">exit_to_app</mat-icon>Ver Michi App</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex" aria-current="page" routerLinkActive="active" target="_blank" href="https://cloud.mongodb.com/v2/67adc8392eab433bf0efa47b#/metrics/replicaSet/67adc98aa1777c57966612b4/explorer/DatabaseMichi/sitiosdemichis/find">
                    <mat-icon class="mx-2">table_eye</mat-icon>Ver MongoDB</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active d-flex button-outline " aria-current="page" routerLinkActive="active"><app-link-cerrar-sesion></app-link-cerrar-sesion></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex" aria-current="page" routerLinkActive="active"><mat-icon
                        class="mx-2">settings</mat-icon>Configuración</a>
            </li>
            <hr>
            <li class="nav-item">
                <app-ProfileSmallInfo></app-ProfileSmallInfo>
            </li>
        </ul>
    </div>
</nav>