<div class="container d-flex flex-column justify-content-center align-items-md-center">
    
    @if(operacion == 'Iniciar Sesión'){
        <app-logo-michi></app-logo-michi>
        <h2 class="mt-5">{{operacion}}</h2>
        <app-form-inicio-sesion class="my-5" (loginEvent)="loguearAlUser($event)"></app-form-inicio-sesion>
        <p>Ups! ¿No estás registrado?</p>
        <button type="submit" class="btn btn-outline-secundario" routerLink="registro">Registrarme</button>
    }
    @else{
        <h2 class="mt-5">{{operacion}}</h2>
        <app-form-registro class="my-5" (registerEvent)="registrarAlUser($event)"></app-form-registro>
    }

</div>